/* ----- SUPER BASIC RESET & ROOT ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px pink solid; */
}

:root {
  --yellow-dark: hsl(40, 80%, 30%);
  --yellow-medium: hsl(40, 80%, 70%);
  --yellow-light: hsl(40, 80%, 95%);
  --blue-dark: hsl(180, 80%, 30%);
  --not-black: hsl(0, 0%, 20%);
  --not-white: hsl(0, 0%, 99%);
}

/* ----- ALL BLOCK ELEMENTS ----- */

body {
  background-color: var(--not-white);
  color: var(--not-black);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', 'Roboto Sans', 'Segoe UI', Geneva, Verdana,
    sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Macondo Swash Caps', cursive;
  font-weight: 700;
  font-style: normal;
}

li {
  padding-top: 0.5rem;
}

i {
  font-style: normal;
}

a {
  color: var(--blue-dark);
  text-decoration: none;
}

a:hover {
}

/* ----- ALL SEMANTIC ELEMENTS ----- */

header {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--not-white);
}

header a {
  text-decoration: none;
  color: var(--not-black);
}

footer {
  margin-top: 1rem;
  position: sticky;
  bottom: 0px;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--not-black);
  color: var(--not-white);
}

/* ----- CUSTOM CLASSES ----- */

.header-icons {
  font-size: 2rem;
}

.recipe-cards {
  padding-top: 2rem;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  width: 100%;
  overflow: hidden;
  border: 0px #333 solid;
  border-radius: 1rem;
  background-color: var(--yellow-light);
}

.card > img {
  max-width: 100%;
  border: 0px var(--not-black) solid;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card > h3 {
  padding: 1rem;
}

.recipe-main {
  width: 80vw;
  height: 20rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--yellow-dark);
  border: 0px #333 solid;
  border-radius: 1rem;
}

.recipe-main > img {
  height: 100%;
  border: 0px var(--not-black) solid;
  border-radius: 1rem 0rem 0rem 1rem;
}

.main-photo > a {
  font-weight: bold;
}

.recipe-title {
  padding: 1rem 3rem;
  color: var(--not-white);
}

.recipe-title > h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.instructions {
  width: 80vw;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.instructions > div {
  padding: 1rem;
}

.ingredients {
  width: 40%;
}

.steps {
  width: 60%;
}
